<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/css/style.css"/>
       <link rel="stylesheet" href="/css/foodlist.css"/>
        <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <%- include('./header.html') %>
        </header>
        <div class="container">
            <div class="food-detail-title">
                <span>Strawberry Cream Cheesecake</span>
            </div>

            <div class="food-detail-bar ">
                <div class="food-detail-bar-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.333" height="14.666" viewBox="0 0 13.333 14.666">
                        <path d="M2,14.666a2,2,0,0,1-2-2V3.333a2,2,0,0,1,2-2H3.334V.667a.667.667,0,0,1,1.333,0v.667h4V.667A.667.667,0,0,1,10,.667v.667h1.333a2,2,0,0,1,2,2v9.334a2,2,0,0,1-2,2Zm-.667-2A.667.667,0,0,0,2,13.333h9.334A.667.667,0,0,0,12,12.667v-6H1.333ZM12,5.333v-2a.667.667,0,0,0-.667-.667H10v.667a.667.667,0,0,1-1.334,0V2.666h-4v.667a.667.667,0,1,1-1.333,0V2.666H2a.667.667,0,0,0-.667.667v2Z"></path>
                      </svg>
                      <small>Yesterday</small>
                </div>
                <div class="food-detail-bar-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.333" height="13.335" viewBox="0 0 13.333 13.335">
                        <path d="M.672,13.335a.687.687,0,0,1-.464-.183A.655.655,0,0,1,0,12.667V2A2,2,0,0,1,2,0h9.334a2,2,0,0,1,2,2V8.666a2,2,0,0,1-2,2H3.61L1.138,13.138A.657.657,0,0,1,.672,13.335ZM2,1.333A.667.667,0,0,0,1.333,2v9.058L2.862,9.529a.671.671,0,0,1,.472-.195h8A.668.668,0,0,0,12,8.666V2a.667.667,0,0,0-.667-.667Z"></path>
                      </svg>
                      <small>25</small>
                </div>
                <div class="food-detail-bar-item">
                    <div style="margin-top: -2px;">
                        <img src = "/images/star-fill.svg"/>
                        <img src = "/images/star-fill.svg"/>
                        <img src = "/images/star-fill.svg"/>
                        <img src = "/images/star-fill.svg"/>
                        <img src = "/images/star-fill.svg"/>
                        
                      </div>
                </div>
            </div>
            <div>
                <hr class="common-margin-top" style="height: 1px; width: 100%;"> 
            </div>
            
            <div class = "food-detail-content" >
                    <p class="caption">
                        One thing I learned living in the Canarsie section of Brooklyn, NY was how to cook a good Italian meal. Here is a recipe I created after having this dish in a restaurant. Enjoy!
                    </p>

                    <div class="food-detail-img">
                        <img src = "/images/products/menu144.jpg"/>
                    </div>
                    <div class="food-detail-ingredient">
                        <div class="food-detail-ingredient-left">
                            <ul class="food-deliver-time-list">
                                <li class="item1">
                                  <small>Prep Time</small>
                                  <span>15 min</span>
                                </li>
                                <li class="item2">
                                  <small>Prep Time</small>
                                  <span>15 min</span>
                                </li>
                                <li class="item3">
                                  <small>Servings</small>
                                  <span>4 People 
                                    <a href="#0" class="ml-2">
                                      <svg data-name="feather-icon/edit" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <rect data-name="Bounding Box" width="16" height="16" fill="rgba(255,255,255,0)"></rect>
                                        <path d="M2,14.747a2,2,0,0,1-2-2V3.414a2,2,0,0,1,2-2H6.667a.667.667,0,1,1,0,1.333H2a.667.667,0,0,0-.667.667v9.334A.667.667,0,0,0,2,13.414h9.334A.666.666,0,0,0,12,12.748V8.081a.667.667,0,1,1,1.333,0v4.667a2,2,0,0,1-2,2ZM4.141,10.49a.659.659,0,0,1-.121-.571l.667-2.666a.67.67,0,0,1,.176-.31L11.2.61A2.081,2.081,0,0,1,14.042.52l.1.09.09.1a2.084,2.084,0,0,1-.09,2.846L7.8,9.886a.669.669,0,0,1-.31.175l-2.666.667a.675.675,0,0,1-.165.02A.66.66,0,0,1,4.141,10.49Zm8-8.938-6.2,6.2L5.583,9.164l1.41-.352,6.2-6.2a.748.748,0,1,0-1.057-1.057Z" transform="translate(0.667 0.586)"></path>
                                      </svg>
                                    </a>
                                  </span>
                                </li>
                                <li class="item4">
                                  <a href="#0">
                                    <svg data-name="feather-icon/printer" xmlns="http://www.w3.org/2000/svg" width="20" height="22.041" viewBox="0 0 20 22.041">
                                      <rect data-name="Bounding Box" width="20" height="22.041" fill="rgba(255,255,255,0)"></rect>
                                      <path d="M4.166,20.2a.88.88,0,0,1-.833-.918V16.531H2.5A2.636,2.636,0,0,1,0,13.776V9.184A2.636,2.636,0,0,1,2.5,6.429h.833V.918A.879.879,0,0,1,4.167,0h10A.878.878,0,0,1,15,.918v5.51h.833a2.636,2.636,0,0,1,2.5,2.755v4.592a2.636,2.636,0,0,1-2.5,2.755H15v2.755a.88.88,0,0,1-.834.918ZM5,18.367h8.333v-5.51H5v2.718c0,.012,0,.025,0,.038s0,.025,0,.037Zm10.834-3.673a.879.879,0,0,0,.833-.918V9.184a.878.878,0,0,0-.833-.918H2.5a.879.879,0,0,0-.833.918v4.592a.879.879,0,0,0,.833.918h.833V11.938a.88.88,0,0,1,.833-.918h10a.88.88,0,0,1,.834.918v2.756Zm-2.5-8.265V1.837H5V6.429Z" transform="translate(0.833 0.918)"></path>
                                    </svg>
                                  </a>
                                </li>
                              </ul>

                              <div class="title">
                                <h2>Ingredients</h2>
                              </div>
                              <div class="ingredient-item">
                                <input type="checkbox" id="" name="" class="form-check-input">
                                <label class="ingredient-item-label" for="">400g graham crackers</label>
                              </div>
                              <div class="ingredient-item">
                                <input type="checkbox" id="" name="" class="form-check-input">
                                <label class="ingredient-item-label" for="">400g graham crackers</label>
                              </div>
                              <div class="ingredient-item">
                                <input type="checkbox" id="" name="" class="form-check-input">
                                <label class="ingredient-item-label" for="">400g graham crackers</label>
                              </div>
                        </div>
                        <div class="food-detail-ingredient-right">
                            <div class="nutrition-detail">
                                <h2>Nutrition Facts</h2>
                                <ul class="nutrition-list">
                                    <li>
                                      <span>Calories</span>
                                      <span>219.9</span>
                                    </li>
                                    <li>
                                      <span>Total Fat</span>
                                      <span>10.7 g</span>
                                    </li>
                                    <li>
                                      <span>Saturated Fat</span>
                                      <span>2.2 g</span>
                                    </li>
                                    <li>
                                      <span>Cholesterol</span>
                                      <span>37.4 mg</span>
                                    </li>
                                    <li>
                                      <span>Sodium</span>
                                      <span>120.3 mg</span>
                                    </li>
                                    <li>
                                      <span>Potassium</span>
                                      <span>32.8 mg</span>
                                    </li>
                                    <li>
                                      <span>Total Carbohydrate</span>
                                      <span>22.3 g</span>
                                    </li>
                                    <li>
                                      <span>Sugars</span>
                                      <span>8.4 g</span>
                                    </li>
                                    <li>
                                      <span>Protein</span>
                                      <span>7.9 g</span>
                                    </li>
                                  </ul>
                            </div>
                            
                        </div>
                    </div>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <hr class="hr-11">
            <div class="comment-section">
                <nobr><span class="comment-caption">Comments</span><span class="total-comment-label">(25)</span></nobr>
                <div>
                    <hr class="common-margin-top" style="height: 1px; width: 100%;"> 
                </div>
                <ul class="comment-list">
                    <li class="comment-item">
                        <div class="user-comment">
                            <a href="#0" class="user-avatar">
                                <img src="/images/avatar4.png" alt="Avatar">
                            </a>
                        </div>
                        <div class="user-comment-body">
                           <div class="user-comment-item">
                              <h6 class="big inter-font font-weight-semibold">Jelanee Uwaezuoke</h6>
                              <p>
                                  Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party.
                              </p>
                           </div>
                            
                            <div class="post-comment">
                                <textarea>

                                </textarea>
                            </div>
                            <br/>
                            <div class="comment-func-bar">
                                <button type="button" class="btn btn-post-comment">Post comment</button>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <%- include('./footer.html') %>
        </footer>
    </body>
</html>