<div class="center">
    <div class="header-container">
        <div class="leftHeader">
            <img src="/images/logo.png" id="logo" alt="Logo" />
        </div>
        <div class="rightHeader">
            <ul class="navbar">
                <li><a href="/index" id="index" class="active">Home</a></li>
                <li><a href="/menu" id="menu">Menu</a></li>
                <li><a href="/reservation" id="reservation">Reservation</a></li>
                <li><a href="/order" id="order">Order</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
        const pathArray = window.location.pathname.split('/');
        const firstLevelPath = pathArray[1];
        const activeElements = document.getElementsByClassName('active');

        Array.from(activeElements).forEach(element => {
            element.classList.remove('active');
        });

        document.getElementById(firstLevelPath).classList.add('active');
</script>