<html>
    <head>
        
        
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/home.css"/>
        <link rel="stylesheet" href="css/foodlist.css"/>
        <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
      
    </head>
    <body>
        <header>
            <%- include('./header.html') %>
        </header>
        
        <div class="menu-breadcrumb-container">
            <div class="menu-breadcrumb-title menu-breadcrumb">
            
            </div>
            <div class="menu-breadcrumb-title-text">
                <h1 >Special Menu</h1>
            </div>
        </div>

        <div class="menu-header-title">
            <h2>Special Menu</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
        
        <div class="container">
            
            <div class="menu-bar ">
                <div class="menu-bar-item menu-bar-item-active" id="0">
                    All
                </div>
                <%for(let item of objCategories){%>
                    <div class="menu-bar-item" id="<%=item.catId%>">
                        <%=item.catName%>
                    </div>
                    <%}%>                   
                
                
            </div>

            <div class="food-list-container" id="foodContainer">
                <%for(let item of objDish) {%>
                    <div class="food-item">
                        <img src="<%=item.dishImageURL%>">
                        <div class="food-item-desc">
                            <h4><%=item.dishName%></h4>
                            <p><%=item.description%></p>
                            <h5>$<%=item.price%></h5>
                            <div class="food-item-desc-func">                               
                                <a href="/menu/foodDetail">Order</a>
                                <a href="/menu/foodDetail">View Detail</a>
                            </div>
                            
                        </div>
                    </div>
                    <%}%>                
                
            </div>
        </div>
        <footer>
            <%- include('./footer.html') %>
        </footer>
    </body>
</html>

<script src="js/script.js"></script>