<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/reservation.css"/>
</head>
<body>
    <header>
        <%- include('./header.html') %>
    </header>   
    <div class="img-div">
        <h3>Reservation</h3>
    </div>
    <form action="/reservation" method="post">
        <div class="reservation">
            <div class="reservationDateTime">
                <h3>Book a table</h3>
                <div><input type="text" name="date" placeholder="Select date" required /></div>
                <div><input type="text" name="time" placeholder="Select time" required /></div>
                <div><input type="text" name="noOfPerson" placeholder="Select person" required /></div>
            </div>
            <div class="contactDetail">
                <h3>Contact Details</h3>
                <div><input type="text" name="cusName" placeholder="Your Name" required /></div>
                <div><input type="text" name="cusEmail" placeholder="Your Email" /></div>
                <div><input type="text" name="cusPhone" placeholder="Your Phone" required /></div>
            </div>
        </div>
        <div class="reserve-btn">
            <input type="submit" name="reservation" value="Reservation" class="button"/>
        </div>
    </form>
    <footer>
        <%- include('./footer.html') %>
    </footer>
</body>
</html>